@use '../../../styles/glassmorphism' as *;
@use '../../../styles/mixins' as *;

.gameover__popup {
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: auto;
}

.gameover-title {
  margin: 0;
}

.popup__result-container {
  display: flex;
  justify-content: space-around;
  width: 100%;

  .popup__result-text {
    font-size: 1.2rem;
  }
}

.popup__btn-container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .popup-button {
    @extend %glass-base;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    background: rgba(231, 231, 231, 0.07);
    box-shadow:
      0 8px 32px rgba(0, 0, 0, 0.1),
      inset 0 1px 0 rgba(255, 255, 255, 0.233),
      inset 0 -1px 0 rgba(255, 255, 255, 0.1),
      inset 0 0 3px 3px rgba(255, 255, 255, 0.158);

    border-radius: 20px;
    width: 40%;
    @include fluid(height, 45, 55);
    font-weight: 500;
    color: white;
    font-size: 1rem;
    transition: all 0.3s;
  }
}
