@use '../../../styles/glassmorphism' as *;
@use '../../../styles/mixins' as *;

.game__template {
  display: flex;
  width: 900px;
  flex-direction: column;
  @include fluid(gap, 5, 10);

  @media (max-width: 910px) {
    width: 100%;
  }
}

.game__grid {
  @extend %glass-base;

  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.8),
    inset 0 -1px 0 rgba(255, 255, 255, 0.4),
    inset 0 0 6px 3px rgba(255, 255, 255, 0.4);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 7px;
  @include fluid(padding, 10, 30);
  @include fluid(border-radius, 20, 40);

  @media (max-width: 500px) {
    grid-column-gap: 5px;
    grid-row-gap: 2px;
    box-shadow:
      0 8px 32px rgba(0, 0, 0, 0.1),
      inset 0 1px 0 rgba(255, 255, 255, 0.8),
      inset 0 -1px 0 rgba(255, 255, 255, 0.4),
      inset 0 0 6px 2px rgba(255, 255, 255, 0.4);
  }

  .grid--cell {
    @extend %glass-button;

    aspect-ratio: 1 / 1;
    width: 100%;
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    @include fluid(border-radius, 10, 20);

    @media (max-width: 550px) {
      font-size: 1.5rem;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: rgba(255, 255, 255, 0.02);
        transform: translateY(-1px);
      }
    }

    &.cell--active {
      border: 1px solid rgb(0, 123, 255);
      box-shadow:
        0 0 5px rgba(0, 153, 255, 0.8),
        0 8px 20px rgba(0, 0, 0, 0.08),
        inset 0 2px 0 rgb(134, 172, 252),
        inset 0 -3px 0 rgba(23, 46, 247, 0.1);
    }

    &.cell--hinits {
      border: 1px solid rgb(255, 255, 255);
      box-shadow:
        0 0 16px rgb(255, 255, 255),
        0 2px 18px rgba(0, 0, 0, 0.55),
        inset 0 1px 0 rgb(255, 255, 255),
        inset 0 -1px 0 rgba(255, 255, 255, 0.45);
    }

    &.cell--error {
      animation-name: flash-error;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
    }

    &.cell--deleted {
      opacity: 0;

      &:hover {
        transform: none;
        background: rgba(0, 0, 0, 0);
      }
    }
  }
}

.game__options {
  @extend %glass-base;

  background: rgba(231, 231, 231, 0.07);

  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.233),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 3px 3px rgba(255, 255, 255, 0.158);

  display: flex;
  justify-content: center;
  align-items: center;
  @include fluid(padding, 10, 15);
  @include fluid(border-radius, 15, 25);
}

.panel__tools-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include fluid(gap, 5, 10);

  button {
    all: unset;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include fluid(padding-top, 35, 50);
    @include fluid(width, 50, 80);
    flex-shrink: 0;
    transition: all 0.2s;

    &::before {
      content: '';
      top: 0;
      position: absolute;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 50px;

      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;

      aspect-ratio: 1/1;
      @include fluid(width, 30, 45);
    }

    &:nth-child(1)::before {
      content: attr(data-message);
    }
    &:nth-child(2)::before {
      content: '⏳️';
    }
    &:nth-child(3)::before {
      content: '🧩';
    }
    &:nth-child(4)::before {
      content: '💡';
    }
    &:nth-child(5)::before {
      content: '🎲';
    }
    &:nth-child(6)::before {
      content: '🧹';
    }
  }

  button[disabled] {
    opacity: 0.4;
  }
}

.panel__score-wrapper {
  display: flex;
  justify-content: space-between;
  @include fluid(margin-left, 10, 30);
  @include fluid(margin-right, 10, 30);
  font-size: 1rem;
  font-family: 'Exo 2', sans-serif;

  .score-text {
    @extend %glass-base;

    background: rgba(231, 231, 231, 0.07);

    box-shadow:
      0 8px 32px rgba(0, 0, 0, 0.1),
      inset 0 1px 0 rgba(255, 255, 255, 0.233),
      inset 0 -1px 0 rgba(255, 255, 255, 0.1),
      inset 0 0 3px 3px rgba(255, 255, 255, 0.158);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 25%;
    @include fluid(height, 40, 60);

    @media (max-width: 700px) {
      width: 30%;
    }
  }

  .score__current-score {
    font-weight: 600;
    font-size: 1.1rem;
  }
}

@keyframes flash-error {
  50% {
    background: rgba(255, 0, 0, 0.1);
    border: 1px solid rgb(250, 77, 77);
    box-shadow:
      0 0 3px rgba(197, 14, 0, 0.4),
      0 8px 20px rgba(0, 0, 0, 0.05),
      inset 0 1px 0 rgb(255, 110, 110),
      inset 0 -3px 0 rgba(247, 38, 23, 0.1);
  }
}
