.game__grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 7px;
  padding: 30px;
  background: rgba(231, 231, 231, 0.07);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 6px 3px rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), transparent, rgba(255, 255, 255, 0.3));
  }

  .grid--cell {
    width: 90px;
    height: 90px;
    font-size: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    background: rgba(231, 231, 231, 0);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
      0 8px 32px rgba(0, 0, 0, 0.1),
      inset 0 1px 0 rgba(255, 255, 255, 0.5),
      inset 0 1px 0 rgba(255, 255, 255, 0.5),
      inset 0 -1px 0 rgba(255, 255, 255, 0.15);
    position: relative;
    overflow: hidden;
    transition: all 0.3s;

    &:hover {
      background: rgba(255, 255, 255, 0.02);
      transform: translateY(-1px);
    }

    &.cell--active {
      border: 1px solid rgb(0, 123, 255);
      box-shadow:
        0 0 5px rgba(0, 153, 255, 0.8),
        0 8px 20px rgba(0, 0, 0, 0.08),
        inset 0 2px 0 rgb(134, 172, 252),
        inset 0 -3px 0 rgba(23, 46, 247, 0.1);
    }

    &.cell--error {
      animation-name: flash-error;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
    }

    &.cell--deleted {
      opacity: 0;

      &:hover {
        transform: none;
        background: rgba(0, 0, 0, 0);
      }
    }
  }
}

@keyframes flash-error {
  50% {
    background: rgba(255, 0, 0, 0.1);
    border: 1px solid rgb(250, 77, 77);
    box-shadow:
      0 0 3px rgba(197, 14, 0, 0.4),
      0 8px 20px rgba(0, 0, 0, 0.05),
      inset 0 2px 0 rgb(255, 110, 110),
      inset 0 -3px 0 rgba(247, 38, 23, 0.1);
  }
}
