body {
  background:
    radial-gradient(circle farthest-corner at 5% 5%, rgba(56, 22, 247, 0.15), transparent 70%),
    radial-gradient(circle at 60% 40%, rgba(212, 0, 255, 0.164), transparent 65%),
    radial-gradient(circle at 80% 90%, rgba(30, 154, 255, 0.34), transparent 60%),
    radial-gradient(circle at 20% 70%, rgba(9, 202, 236, 0.15), transparent 75%),
    radial-gradient(circle at 0% 100%, rgb(0, 0, 0), transparent 85%),
    radial-gradient(circle at 100% 0%, rgb(0, 0, 0), transparent 85%), linear-gradient(155deg, #010105 0%, #03040c 100%);

  background:
    radial-gradient(circle farthest-corner at 5% 5%, rgba(56, 22, 247, 0.5), transparent 70%),
    radial-gradient(circle at 60% 40%, rgba(212, 0, 255, 0.45), transparent 65%),
    radial-gradient(circle at 80% 90%, rgba(30, 154, 255, 0.5), transparent 60%),
    radial-gradient(circle at 20% 70%, rgba(9, 202, 236, 0.4), transparent 75%), #ffffff;

  background: url(/image/aaabstract.jpg);
  background: url(/svg/ffflux2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;

  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ffffff;
  text-shadow:
    0 0 15px rgba(255, 255, 255, 0.5),
    0 0 25px rgba(255, 255, 255, 0.3);
  font-family: 'Exo 2', sans-serif;
  font-size: 4em;
  letter-spacing: -0.02em;
  margin: 30px 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
