@use './main';
@use './glassmorphism' as effect;

@use '../components/ui/Button/button';
@use '../components/ui/GameTemplate/game-template';

@use '../components/screens/Game/game';
@use '../components/screens/Menu/menu';
