@use '../../../styles/glassmorphism' as *;

.container__menu {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu__buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 450px;
}

.menu__button {
  @extend %glass-base;
  background: rgba(231, 231, 231, 0.07);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.233),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 3px 3px rgba(255, 255, 255, 0.158);

  border-radius: 20px;
  width: 100%;
  height: 55px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 16px;
  transition: all 0.5s;

  &:hover {
    transform: translateY(-1px);
    background: rgba(255, 255, 255, 0.1);
  }

  &:active {
    background: rgba(255, 255, 255, 0.07);
    transform: translateY(1px);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
