@use '../../../styles/glassmorphism' as *;
@use '../../../styles/mixins' as *;

.settings__popup {
  padding: 30px 40px 30px 30px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;

  label {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  input,
  select {
    width: 50%;
  }

  @media (max-width: 700px) {
    input,
    select {
      width: 70%;
    }
  }
}

input[type='range'] {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  @extend %glass-base;
  overflow: visible;
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -4px;
  transition: transform 0.2s ease;
}

input[type='range']:active::-webkit-slider-thumb {
  transform: scale(1.1);
}

//? ====================== SELECT =========================

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @extend %glass-base;
  font-family: 'Inter', sans-serif;
  padding: 10px 13px;
  font-size: 0.9rem;
  line-height: 1.5;
  cursor: pointer;
  width: 250px;

  border-radius: 12px;
  color: #ffffff;
  transition: all 0.3s ease;
}

select:focus {
  outline: none;
}

option {
  @extend %glass-base;
  font-family: 'Inter', sans-serif;
  color: #000000;
  background-color: #ffffff;
  padding: 8px;
  margin: 10px;
}

.settings__button {
  @extend %glass-base;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(231, 231, 231, 0.07);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.233),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 3px 3px rgba(255, 255, 255, 0.158);

  border-radius: 20px;
  width: 60%;
  @include fluid(height, 45, 55);
  font-weight: 500;
  color: white;
  font-size: 1rem;
  transition: all 0.3s;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &:active {
    background: rgba(255, 255, 255, 0.07);
    transform: translateY(1px);
  }
}
