@use '../../../styles/glassmorphism' as *;
@use '../../../styles/mixins' as *;

.popup--overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: -100;
  opacity: 0;
  transition: all 0.5s;

  &.popup--open {
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    z-index: 100;
    opacity: 1;
  }
}

.popup {
  @extend %glass-base;
  position: relative;
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.233),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 2px 2px rgba(255, 255, 255, 0.158);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(300px);
  -webkit-backdrop-filter: blur(300px);
  border-radius: 60px;
  width: 700px;
  height: 350px;

  opacity: 0;
  transition: all 0.7s;

  @media (max-width: 800px) {
    width: 80%;
  }
  @media (max-width: 450px) {
    width: 95%;
  }

  &.popup--open {
    z-index: 200;
    opacity: 1;
  }
}

.popup__close {
  position: absolute;
  right: 25px;
  top: 25px;
  aspect-ratio: 1 / 1;
  @include fluid(width, 20, 30);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
  transition: all 0.2s;

  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;

  span {
    position: absolute;
    @include fluid(width, 12, 16);
    height: 2px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1px;
    transition: 0.25s ease;
    z-index: 300;
  }

  span:first-child {
    transform: rotate(45deg);
  }

  span:last-child {
    transform: rotate(-45deg);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.35);
    transform: scale(1.03);
  }
}
